*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 8px 0;
}

.player-options img,
.enemy-options img{
    max-width: 150px;
    /* definindo opacidade */
    opacity: 0.4;
    cursor: pointer;
}

.player-options,
.enemy-options{
    width: 50%;
}

.align{
    /* para ficar um do lado do outro */
    display: flex;
}